<p id="notice"><%= notice %></p>

<div class="jumbotron row text-start pl-5 p-2 mt-4">
  <div class="col-6">
    <h1 class="display-4"> <b> Our range of Products </b> </h1>
  </div>
    
  <div class="col-4 offset-2 d-flex align-self-center justify-content-end  pr-5">
    <%= form_with url: "/products", local: true, method: :post, class: "form-inline" do |form| %>  
      <%= form.text_field :search, placeholder: "Search here", class: "form-control mr-2" %>
      <%= form.submit "Search", class: "btn btn-success" %>
    <% end %>
  </div>
</div>


<% if !@items.empty? %>

  <div class="container-fluid">
    <div class="row">
        <% @items.each_with_index do |item, index| %>
        
        <div class="col-4">
            <div class="position-relative my-4">
              <div class="title-topleft"> <%= item.category %> </div>
              
              
              <% link = ["https://www.linkpicture.com/q/sh.webp", "https://www.linkpicture.com/q/shoes1.webp", "https://www.linkpicture.com/q/abc_3.jpg"] %> 
              <% x=0 %>
              <%= image_tag link[index], style: "width:100%; height: 450px", alt: 'Shoes-image'  %>
              <% x = 1 %>
              </a>
              
              <div class="mt-2 d-flex mb-5 pb-3 bellow_post text-dark"> 
                  <div class="w-100">
                    <span class="h2 my-auto "> <%= item.name %> </span>
                    <span class="h5 mt-0 float-right "> <%= item.reviews %> <i class="fas fa-star"></i> </span>
  
                        <%= form_for @order_item, remote: true, :html => {:class => 'form-inline mt-2' }  do |f| %>
                          <%= f.hidden_field :item_id, value: item.id %>
                          <%= f.number_field :quantity, min: 1, max: 10, value: 1, class: "form-control form-control-sm" %>
                          <%= f.submit 'Add to Cart', class: " ml-2 btn btn-sm btn-success" %>
                          <% end %> 
                  </div>
              </div>
            </div>
        </div>
        <% end %>

    </div>
      
  </div>

<% else %>
    <h1> No items found </h1>
<% end %>

<br>

<div id="cart" class="container-fluid mb-5">
    <%= render 'carts/cart' %>
</div>


